@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,600i');
@import url('https://fonts.googleapis.com/css?family=Raleway');


body {
    font-family: "Helvetica";
}
/* Overriding the default styling for the blog link */
.link {
    color: black;
    text-decoration: none;
}
.link:visited {
    color: black;
    text-decoration: none;
}
/* Overriding default styling for the Photo and Film categories */
.catalog:hover {
    cursor: pointer;
}
/* Hiding the content within the photo and video div's. This will be overrided by an onClick function with React */
.closed {
    display: none;
}

.prints {
    width: 35%;
    height: 35%;
}

.shirt-pic {
    width: 50%;
    height: 50%;
}

.itemHeader {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
}

#storeFront {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 42px;
}

p {
    font-size: 16px;
    line-height: 23px;
}

.storeLink {
    text-decoration: none;
    color: black;
}

.storeLink:visited {
    color: black;
}

.invisible {
    display: none;
}

.portfolioItem {
    cursor: pointer;
    color: darkgray;
    text-decoration-style: none;
}

.removeStyling {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #cccccc;
}
.removeStyling:hover{
    color: black;
}

.portfolioItem:hover{
    color: black;
}